.mapa {
  grid-column: 2;
}

.dados {
  grid-column: 3;
}

.dados li {
  margin-bottom: 1rem;
  font-family: Helvetica, Arial;
}

.dados li::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-right: 10px;
  background: #fb5;
}

[data-semana]::after {
  margin-left: 10px;
  content: "";
  display: inline-block;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background: red;
  border: 2px solid black;
}

[data-semana].aberto::after {
  background: #3f4;
}

.btc-preco {
  background: #3f4;
  padding: 0.2rem 0.5rem;
  font-weight: bold;
  border-radius: 3px;
}

@media (max-width: 700px) {
  .dados,
  .mapa {
    grid-column: 1/3;
  }
}
